---
// Import Fonts
import '@fontsource/barlow';
import '@fontsource/barlow-condensed';

// Import Utility functions
import { Image } from 'astro:assets';

// Import Images
// Social media Icons
import facebook from "../assets/images/social-icons/facebook_white.png"
import instagram from "../assets/images/social-icons/instagram_white.png"
import linkedin from "../assets/images/social-icons/linkedin_white.png"
// Symbols
import address from "../assets/images/symbols/Location.png"
import number from "../assets/images/symbols/Mobile.png"
import email from "../assets/images/symbols/Email.png"
---

<div class="Footer">
  <div class="top">
    <div class="left">
      <div class="address">
        <figure>
            <Image
              src={address}
              alt="Address Symbol"
              class={"icons"}
            />
            <figcaption>Ananth Nagar, <br>Manipal - 576104</figcaption>
          </figure>
      </div>
      <div class="number">
        <figure>
          <Image
            src={number}
            alt="Phone Symbol"
            class={"icons"}
          />
          <figcaption><a href= "tel: +917349541355">+91 73495 41355</a></figcaption>
        </figure>
      </div>

      <div class="email">
        <figure>
          <Image
            src={email}
            alt="Email Symbol"
            class={"icons"}
          />
          <figcaption><a href = "mailto: shivanibhat@moxiefy.co">shivanibhat@moxiefy.co</a>
            </figcaption>
        </figure>
      </div>
    </div>
    <div class="mid">
      <strong>FOLLOW #MOXIEFY</strong>
      <div class="socials">
        <a href="https://www.facebook.com/people/Moxiefy/61550828314507/" target="_blank">
          <Image class="icons" src={facebook} alt="Facebook logo" />
        </a>
        <a href="https://www.instagram.com/moxiefy.co/" target="_blank">
            <Image class="icons" src={instagram} alt="Instagram logo" />
        </a>
        <a href="https://www.linkedin.com/company/moxiefydigital" target="_blank">
            <Image class="icons" src={linkedin} alt="LinkedIn logo" />
        </a>
      </div>
    </div>
    <div class="right">
      <form name="newsletter" method="POST" data-netlify="true">
        <label for="email">newsletter</label>
        <div class="form-container">
          <input type="email" id="newsletter-email" name="newsletter-email" placeholder="Email" required />
          <button type="submit">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
  <div class="bottom">
    <nav class="Navigation" id="Navigation">
          <ul class="mobile-hidden">
            <li><a href="/">Home</a></li>
            <li><a href="/#About">About</a></li>
            <li><a href="/#Services">Services</a></li>
            <li><a href="/#Portfolio">Portfolio</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/process">PROCESS</a></li>
            <li><a href="/#Contact">Contact</a></li>
          </ul>
    </nav>
    <a href="/" class="mobile-only">BACK TO TOP</a>
  </div>
</div>

<style>
  html {
    overflow-x: hidden;
  }

  .mobile-only {
    display: none;
  }

  .left {
    display: flex;
    flex-direction: column;

    gap: 1rem;
  }
  figure {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
  }

  figcaption {
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    color: #fff;
    width: 30ch;
  }
.Footer {

    background-image: 
    linear-gradient(to bottom, #A75AD3 0%,   #6010A9 104% 107%);
    color: #fff;
    padding: 5rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 11rem;
  align-items: top;

  padding-bottom: 3rem;
}

.form-container {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}

label {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  padding-right: 1rem;
}

input {
  background-color: #fff;
  color: #6D549E;
  border-left: solid 1px #6D549E;
  border: none;
  border-right: solid 1px #6D549E;
  padding: 0.5rem 1rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: .75rem;
  width: 15rem;
  cursor: pointer;
}

button {
  background-color: #fff;
  color: #6D549E;
  border-left: solid 1px #6D549E;
  border: none;
  padding: 0.5rem 1rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: .75rem;
  cursor: pointer;
}

.mid {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  width: 50%;
}


  .icons {
    height: 2rem;
    width: auto;
    align-items:  left;
    justify-content: left;
}

strong {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5rem;

}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  gap: 2rem;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border-top: solid 1px #fff;

}

ul {
    display: flex;
    gap: 5rem;
    padding: 4rem 0 3rem 0;

}

li {
    display: inline-block;
    
    list-style: none;
    

    font-size: 1.72rem;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    color: #fff;
}

li > a {
  color: #fff;

}
li > a:hover {
    border-bottom: solid .2rem #B6E851;
    color: #c9c9c9;
}

a {
      color: inherit;
      text-decoration: none;
      background-color: transparent;
      font-weight: inherit;
      /* Add any other properties you want to reset */
    }

    a:visited {
      color: inherit;
    }
@media screen and (max-width: 576px) {

  .mobile-hidden {
    display: none;
  }

  .mobile-only {
    display: block;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    padding: 2rem 0 1rem 0;
  }
  

  .top {
    flex-direction: column;
    gap: 2rem;
  }

  br {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    width: 100%;
  }

  li {
    font-size: 1rem;  
  }
  

  .mid {
    width: 100%;
  }

}

  @media screen and (min-width: 577px) and (max-width: 1024px) {
  }
</style>