---
// Import utility
import { Image } from 'astro:assets';
// Impot Images
import facebook from "../assets/images/social-icons/facebook.png"
import instagram from "../assets/images/social-icons/instagram.png"
import linkedin from "../assets/images/social-icons/linkedin.png"
import open from "../assets/icon-open.svg"
import close from "../assets/icon-close.svg"
// Import Js

---



<header class="primary-header">

    <script src="./js/Nav.js"></script>

    <div class="container">
      <div class="nav-wrapper">
        <h6><a class="logo" href="/">moxie<span>fy</span></a></h6>
        <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
            <Image src={open} alt="" aria-hidden="true" class="icon-hamburger">
            <Image src={close} alt="" aria-hidden="true" class="icon-close">
            <span class="visually-hidden">Menu</span>
        </button>
        <nav class="primary-navigation" id="primary-navigation">
          <ul aria-label="Primary" role="list" class="nav-list">
            <li><a href="/#About">About</a></li>
            <li><a href="/#Services">Services</a></li>
            <li><a href="/#Portfolio">Portfolio</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/process">Process</a></li>
            <li><a href="/#Contact">Contact</a></li>
          </ul>
          
        </nav>
        <div class="icons hidden-mobile"> 
          <a href="https://www.facebook.com/people/Moxiefy/61550828314507/" target="_blank">
              <Image class="icons" src={facebook} alt="Facebook logo" />
          </a>
          <a href="https://www.instagram.com/moxiefy.co/" target="_blank">
              <Image class="icons" src={instagram} alt="Instagram logo" />
          </a>
          <a href="https://www.linkedin.com/company/moxiefydigital" target="_blank">
              <Image class="icons" src={linkedin} alt="LinkedIn logo" />
          </a>
        </div>
    </div>
  </header>

<style>
/* Logo Styling */
@font-face {
  font-family: 'Architype Bayer-type W90';
  src: url('/fonts/Architype Bayer-type W90.woff') format('woff');
}

h6 {
    font-family: 'Architype Bayer-type W90', sans-serif;
    font-size: 32.5px;
    font-weight: 500;
    color: #6D549E;
}

a > span {
  text-decoration: none;
  color: #B6E851;
}

/* Utility Classes */

.visually-hidden {
  position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}



/* Social Media Icons */
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .7rem;
    height: 2rem;
    width: auto;
}

/* navigation */
ul {
    display: flex;
    gap: 3rem;
    padding: 2.5rem 2.5rem;
}

li {
    display: inline-block;
    list-style: none;
    font-size: 1.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
.primary-header {
  padding-top: 3rem;
  background-color: #6010A9;
}

.container {
    background-color: #fff;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.mobile-nav-toggle {
  display: none;
}

.nav-list {
  font-size: 0.9375rem;
}

.nav-list {
  display: flex;
  gap: clamp(1rem, 5vw, 3rem);
  font-weight: 500;
}

.nav-list a {
  text-decoration: none;
  color: #6D549E;
}

.nav-list a:hover,
.nav-list a:focus {
    border-bottom: solid .2rem #B6E851;
    color: #9B84B2;}


@media screen and (max-width: 50em ) {
  
  .hidden-mobile {
  display: none;
}
    .nav-wrapper {
        justify-content: left;
        gap: 2rem;
    }
    .primary-navigation {
    display: none;
    position: fixed;
    padding: 3rem;
    inset: 7rem 1rem auto;
    max-width: 25rem;
    margin-left: auto;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
  }

  .container {
    padding: 2rem;
  }

  .primary-header[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    /* height: 100vh; */
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }

  .nav-list {
    display: grid;
    gap: 2rem;
    text-align: left;
    font-weight:700;
  }

  /* .icons {
    justify-content: space-around;
    gap: .2rem
  } */

  .primary-navigation[data-visible] {
    display: block;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 5rem;
    right: 1rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
}
   
        
  @media screen and (min-width: 577px) and (max-width: 1024px) {
  }

</style>