---

// Import utilities
import { getCollection } from "astro:content";

const blogPosts = await getCollection("blog", ({data}) => {
  return !data.draft;
});


---
<div class="post-card">

  <div class="left">

    {
      blogPosts.map(post  => (
        <h1>{post.data.title}</h1>
        <p>{post.data.description}</p>
        <a href={post.slug}>. . . Read More</a>
      ))
    }
   

  </div>
  
  <div class="right">

    {
      blogPosts.map(post  => (
      <a href={post.slug}>
        <img src={post.data.image.src} alt={post.data.image.alt}/>
      </a>
      ))
    }
      
  </div>

</div>

<style>
  .post-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: first ;
    
    
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  h1 {
    font-family: "Barlow", sans-serif;
    font-size: 1.5rem;
    width: 40ch;
    line-height: 1.5;
    font-weight: bolder;
    color: #B6E851;


  }

  p {
    font-family: ;
    font-size: 1.5rem;

    color: white;

    width: 40ch;
  }


  img {
    width: 25rem;
    height: auto;
    border: #B6E851 .5rem solid;
  }

  a {
    font-family: "Barlow Condensed", sans-serif ;
    font-size: 1.45rem;
    text-align: right;
    color: #fff;
  }

  a:visited{
    text-decoration: none;
    color: inherit;
  }
  
</style>

