---
// Utilities
import { ViewTransitions } from "astro:transitions";

import { Image } from "astro:assets";


// Import Fonts
import '@fontsource/barlow-condensed';
import '@fontsource/barlow';


// Components
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

// Styles
// import '../styles/blog.css';



// Frontmatter
const {frontmatter} = Astro.props;

const { title, description, image } = frontmatter;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
		<title>{title}</title>

		<ViewTransitions />

	</head>

  <body>

		<Nav />

    <main>
      <article>
				<h1 transition:name="blog_title">{title}</h1>
				<Image 
				class="blog-image" 
				src={image.src}
				alt={image.alt}
				width={image.width}
				height={image.height}
				transition:name="blog-image"
				/>
        <slot />
      </article>

    </main>

    <Footer />  

	</body>
  
</html>

<style>
	.blog-image {
		width: 100%;
		height: auto;
	}

	*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;

}

main {
  display: flex;
  flex-direction: column;
  padding: 5% 17%;

  gap: 3rem;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 900;
  color: #6D549E;
  text-transform: uppercase;
  text-align: left;
  font-size: 2.5rem;
  line-height: 1.5;

}


h2 {
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  color: #6D549E;
  text-transform: uppercase;

  font-weight: 900;
  line-height: 2;

}

p {
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: black;

  line-height: 2;
}

img {
  width: 60rem;
}

@media only screen and (max-width: 600px) {
  main {
    padding: 5% 5%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.75rem;
  }
}
</style>