---
// import Footer from "../../components/Footer.astro";
import Nav from "../../components/Nav.astro";

import { Image } from "astro:assets";

import one from "/src/assets/images/portfolio/design/1.jpg";
import two from "/src/assets/images/portfolio/design/2.jpg";
import three from "/src/assets/images/portfolio/design/3.jpg";
import four from "/src/assets/images/portfolio/design/4.jpg";
import five from "/src/assets/images/portfolio/design/5.jpg";
import six from "/src/assets/images/portfolio/design/6.jpg";
import seven from "/src/assets/images/portfolio/design/7.jpg";
import eight from "/src/assets/images/portfolio/design/8.jpg";
import nine from "/src/assets/images/portfolio/design/9.jpg";
import ten from "/src/assets/images/portfolio/design/10.jpg";
import eleven from "/src/assets/images/portfolio/design/11.jpg";
import twelve from "/src/assets/images/portfolio/design/12.jpg";
import thirteen from "/src/assets/images/portfolio/design/13.jpg";
import fourteen from "/src/assets/images/portfolio/design/14.jpg";
import fifteen from "/src/assets/images/portfolio/design/15.jpg";
---

<Nav />


<section>

    
    <h1><span>passion</span> in pixels</h1>
   
    <h2>brand creatives</h2>

    <div id="col">
        <div id="row">
            <Image src={one} alt="Ads Portfolio" height={320} />
            <Image src={two} alt="Ads Portfolio" height={320}/>
            <Image src={three} alt="Ads Portfolio" height={320}/>
        </div>
        <div id="row">
            <Image src={four} alt="Ads Portfolio" height={320}/>
            <Image src={five} alt="Ads Portfolio" height={320}/>
            <Image src={six} alt="Ads Portfolio" height={320}/>
        </div>
        <div id="row">
            <Image src={seven} alt="Ads Portfolio" height={320}/>
            <Image src={eight} alt="Ads Portfolio" height={320}/>
        </div>
    </div>

    <Image src={nine} alt="Ads Portfolio" />
        
    <h2>personal projects</h2>

    <div class="PProjects">
        <div class="left">
            <Image src={ten} alt="Ads Portfolio" height={400}  />
            <Image src={eleven} alt="Ads Portfolio" height={400} />
        </div>

        <div class="right">
            <Image src={twelve} alt="Ads Portfolio" height={800}/>
        </div>
        
    </div>
    <div id="bottom">
        <Image src={thirteen} alt="Ads Portfolio"  height={350} quality={"high"}/>
        <div id="together" >
            <Image src={fifteen} alt="Ads Portfolio"    height={350} quality={"high"}/>
            <Image src={fourteen} alt="Ads Portfolio"  height={350} quality={"high"}/>


        </div>

    </div>
    


</section>

<!-- <Footer /> -->


<style>

    h3 {
        font-family: 'Trade Gothic LT', sans-serif;
        font-size: 2.625rem;
        color: #6D549E;
        text-transform: uppercase;
    }

    #col {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding-bottom: 2rem;


    }

    #row {
        display: flex;
        flex-direction: row;
        gap: 2rem;


    }

    img {
        width: auto;
    }

    .PProjects {
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        align-items: top;


        gap: 2rem;

    }

    #bottom {
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        align-items: top;

        gap: .9rem;
    }

    #together {
        display: flex;
        gap: 0rem;
    }
</style>