---

// Import Utilities
import { Image } from "astro:assets";

// Import Images
import one from "/src/assets/images/portfolio/design/1.jpg";
import two from "/src/assets/images/portfolio/design/2.jpg";
import three from "/src/assets/images/portfolio/design/3.jpg";
import four from "/src/assets/images/portfolio/design/4.jpg";
import five from "/src/assets/images/portfolio/design/5.jpg";
import six from "/src/assets/images/portfolio/design/6.jpg";
import seven from "/src/assets/images/portfolio/design/7.jpg";
import eight from "/src/assets/images/portfolio/design/8.jpg";
import nine from "/src/assets/images/portfolio/design/9.jpg";
import ten from "/src/assets/images/portfolio/design/10.jpg";
import eleven from "/src/assets/images/portfolio/design/11.jpg";
import twelve from "/src/assets/images/portfolio/design/12.jpg";
import thirteen from "/src/assets/images/portfolio/design/13.jpg";
import fourteen from "/src/assets/images/portfolio/design/14.jpg";
import fifteen from "/src/assets/images/portfolio/design/15.jpg";

// Import Layout
import MainLayout from "../../layouts/MainLayout.astro";

---

<MainLayout 
    title="Passion in Pixels"
    description="">


    <section>

        
        <h1><span>passion</span> in pixels</h1>
    
        <h2>brand creatives</h2>

        <div id="col">
            <div id="row">
                <Image src={one} alt="Social media post- Indian Matchmaking Travel Edition" height={320} />
                <Image src={two} alt="Social media post- The Cultural Connoisseurs travel criteria" height={320}/>
                <Image src={three} alt="Social media post- The Digital Nomad’s travel criteria" height={320}/>
            </div>
            <div id="row">
                <Image src={four} alt="Social media post- Adventure sports in India" height={320}/>
                <Image src={five} alt="Social media post- Paragliding in goa" height={320}/>
                <Image src={six} alt="Social media post- Skiing in Gulmarg" height={320}/>
            </div>
            <div id="row">
                <Image src={seven} alt="Social media post- Increasing engagement by leveraging AR and VR" height={320}/>
                <Image src={eight} alt="Social media post- CTA to drive web traffic" height={320}/>
            </div>
        </div>

        <Image src={nine} alt="Blog header image- Influencer marketing being a game changer in the new age of digital marketing" class='resize'/>
            
        <h2>personal projects</h2>

        <div class="PProjects">
            <div class="left">
                <Image src={ten} alt="An advertisement for a fall lipstick collection" height={400}  class='resize'/>
                <Image src={eleven} alt="An infographic about India’s water crisis" height={400} class='resize'/>
            </div>

            <div class="right">
                <Image src={twelve} alt="An advertisement for a fruit juice brand" height={800} class='resize'/>
            </div>
            
        </div>
        <div id="bottom">
            <Image src={thirteen} alt="An abstract PSA advertisement for ‘don’t drink and drive’"  height={350} quality={"high"}/>
            <div id="together" >
                <Image src={fifteen} alt="An infographic about the best sauce pairings for different pasta shapes"    height={350} quality={"high"}/>
                <Image src={fourteen} alt="An infographic about the best sauce pairings for different pasta shapes"  height={350} quality={"high"}/>
            </div>

        </div>
        


    </section>

</MainLayout>

<style>
    section {
        background-image: linear-gradient(to bottom, #6010a9 0%, #a659d2 100%);
    }
    h3 {
        font-family: 'Trade Gothic LT', sans-serif;
        font-size: 2.625rem;
        color: #6D549E;
        text-transform: uppercase;
    }

    #col {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        padding-bottom: 2rem;


    }

    #row {
        display: flex;
        flex-direction: row;
        gap: 2rem;


    }

    img {
        width: auto;
    }

    .PProjects {
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        align-items: top;


        gap: 2rem;

    }

    #bottom {
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        align-items: top;

        gap: .9rem;
    }

    #together {
        display: flex;
        gap: 0rem;
    }

@media screen and (max-width: 576px) {

        section {
            padding: 2 0rem;
        }

        br {
            display: none;
        }

        h1 {
            font-size: 2rem;
            line-height: 1.5 ;
            text-align: center;
        }

        h2 {
            font-size: 1.75rem;
            line-height: 1.5 ;
            text-align: left;
        }

        h3 {
            font-size: 1.5rem;
            line-height: 1.5 ;
            text-align: left;
        }

        #row {
            flex-direction: column;
        gap: 2rem;

        }

        .PProjects {
            flex-direction: column;
            gap: 2rem;
        }

        #bottom {
            flex-direction: column;
        gap: 2rem;

        }

        #together {
            flex-direction: column;
            gap: 2rem;
        }
        .resize {
            width: 100%;
            height: auto;
        }
}
</style>